html {
    background-image: url("tag-pic.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
} 

body, html {
    height: 100%;
    width: 100%;
  }


  }
.welcome {
    font-family: Impact;
    background-color: white;
    border-width: 3px;
    border-style: ridge;
    text-align: center;
}

.button {
    color: white;
    background-color: black;
    border: unset;
    font-size: 20px;
    padding: 15px 32px;
    display: inline-block;
}

/* yo */

