html {
    background-image: url("tag-pic.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
} 

body, html {
    height: 100%;

}

/* .navn {
    display: flex;
    float: left;
    
    justify-content: left;
    margin-left: ;
    color: white;
    font-weight: bolder;
    size: 20px;
    yoyoyo
} */

.menylinje {
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    word-spacing: 10px;
    border-spacing: 5px;
    
}

.menylinje a {
    color: white;
    text-decoration: none;
    font-size: 3vh;
    background-color: black;
    background-blend-mode: soft-light;
    justify-content: right;
    border-color: gold;
    border-left-width: 0px;
    border-right-width: 0px;
    border-width: 3px;
    border-style: ridge;
    padding-left: 20px;
    padding-right: 20px;

}

.menylinje a:hover {
    color: gold;
    font-weight: bolder;
    
}

.welcome {
    display: flex;
    justify-content: space-around;
    font-family: Impact;
    background-color: black;
    letter-spacing: 10px;
    border-width: 3px;
    border-style: ridge;
    border-color: gold;
    text-align: center;
    color: white;
    margin-top: 5vh;
    font-size: 5vh;
} 

.button {
    display: block;
    color: white;
    background-color: black;
    border: unset;
    position: center;
    font-size: 20px;
    padding: 15px 32px;
    text-align: center;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
}

.button:hover {
    font-size: 30px;
    color: gold;

}

/* yo */

